.navbar-container {
  height: 2.5rem;
  width: 100%;
  background-color: white;
  border-bottom-style: solid;
  border-bottom-color: black;

  display: flex;
  align-items: center;
  z-index: 9000;
  position: relative;
}
.navbar-link--wrapper {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}
.navbar-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  justify-content: space-evenly;
}
.navbar-link:hover {
  color: orangered;
}

.navbar-logo {
  margin-left: 2em;
  font-weight: bold;
  color: #cc0000;
}

.navbar-link {
  font-size: 1em;
  margin-right: 1em;
  cursor: pointer;
}
