.coinRow-container {
  display: flex;
  background-color: black;
}

.coins-row {
  display: flex;
  align-items: center;
  padding: 1em;
  width: 700px;
}

.coins__image {
  height: 2em;
}
.coins__name {
  font-size: 1em;
  color: white;
  margin-left: 0.3em;
}
