table {
  margin-left: 1em;
  background-color: white;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  border-color: black;
  font-weight: bold;
  font-size: 1em;
  padding: 1em;
}

td {
  align-items: center;
}

tr:nth-child(even) {
  background-color: #dadada;
}

.redday {
  color: red;
}

.greenday {
  color: green;
}

.coin__image {
  height: 50px;
}
