.coin-container {
  padding: 2em;
  width: 100%;
  display: flex;
}

.coin-pricechart {
  width: 700px;
}

.coin-info {
  padding: 1em;
  border: solid;
  border-color: lightgray;
  border-radius: 7%;
  line-height: 1.5;
  width: 300px;
}

@media only screen and (max-width: 1000px) {
  .coin-container {
    flex-direction: column;
    padding: 0.5em;
  }
  .coin-pricechart {
    margin-top: 1.5rem;
  }
  .coin-info {
    margin-top: 1.5rem;
    width: 600px;
  }
}

@media only screen and (max-width: 750px) {
  .coin-pricechart {
    width: 95%;
  }
  .coin-info {
    width: 350px;
  }
}

.input-container {
  margin-left: 2em;
  margin-top: 2em;
}
.btn__search {
  background-color: Blue;
  color: white;
  height: 2em;
  width: 5em;
  border: none;
  cursor: pointer;
}

input {
  height: 2em;
  width: 20em;
}
